<!--footer-->
<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="footer1">
        <p>PRATITE NAS NA DRUSTVENIM MREZAMA</p>
        <p id="under">Saznajte novosti iz sveta zdravlja i ucestvujte u nasim akcijama</p>
    </div>
    <div class="social">
        <a href="https://www.facebook.com/" target="_blank" title="Facebook">
            <i class="fab fa-facebook"></i>
        </a>
        <a class="google" href="" target="_blank" title="Google Plus">
            <i class="fab fa-google-plus-square"></i>
        </a>
        <a class="youtube" href="" target="_blank" title="You Tube">
            <i class="fab fa-youtube-square"></i>
        </a>
        <a class="linkedin" href="" target="_blank" title="LinkedIn">
            <i class="fab fa-linkedin"></i>
        </a>
    </div>
</footer>
<!--footer-->