<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <!-- Font -- >

  <!-- Style -->
    <link href="/stylesheets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
</head>

<body>
<% include header.ejs %>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4"><%= title %></h1>
</div>


<div class="container">
    <p>Možete nam poslati poruku i mi ćemo Vam u što kraćem roku odgovoriti</p>
    <p>Kontaktirajte nas i pute fejzbuka i sličnog koje se nalazi na dnu stranice</p>
    <p>Nemojte nas uznemiravati na telefon i nemojte glupa pitanja</p>
    <p>Prijatno!</p>



    <div class="col-md-4 offset-4 text-left" >
        <form role="form" action="/kontakt/submit" method="post">
            <div class="form-group">
                <label>Ime</label>
                <input class="form-control" type="text" name="ime">
            </div>
            <div class="form-group">
                <label>Tekst poruke</label>
                <textarea class="form-control" rows="3" type="text" name="poruka"></textarea>
            </div>
            <div class="form-group">
                <label>E-mail</label>
                <input class="form-control" type="text" name="email">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>


</div>
<!--End of container -->

<% include footer.ejs %>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script type="text/javascript" src="/stylesheets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
