<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <!-- Font -- >

  <!-- Style -->
    <link href="/stylesheets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
</head>

<body>
<% include header.ejs %>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Rene Vegan</h1>
    <div class="offset-4" style="width: 400px">
        <img class="card-img-top card-fill" src="/images/rene.jpg" alt="Card image">
    </div>
</div>


<div class="container">

    <p>Rene Vegan je poznati Nemačku kuvar, rođen 1969. godine u Marsbergu, koji je došao u Srbiju da sprema vegansku hranu</p>
    <p>Skontao je da je najbolje da deli recepte preko interneta pa je napravio ovaj sajt</p>
    <p>Sad on sa celom svojom Vegan porodicom izmišlja nove specijalitete i deli recepte besplatno</p>
    <p>A tu su i neke vesti koje su možda nekom zanimljive</p>
    <p>Hvala i prijatno!</p>

</div>
<!--End of container -->

<% include footer.ejs %>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script type="text/javascript" src="/stylesheets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
